body {
  width: 100%;
  height: 100%;
  background: url("./solar-system/images/space-bg.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  opacity: 0.8;
}

h1 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: #fff;
}

/* Planets */

.orbit {
  position: absolute;
  border: 1px dashed #6e6d6d;
  border-radius: 50%;
  left: 50%;
}

.planet {
  z-index: 1000;
}

/* Sun */

.sun {
  position: absolute;
  z-index: 1000;
  width: 160px;
  bottom: 10px;
  left: 50%;
  margin-left: -80px;
  animation: spin-right 25s linear infinite;
  -webkit-animation: spin-right 25s linear infinite;
}

/* Neptune */

.neptune {
  width: 66px;
  height: 66px;
  margin: 143px;
  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.neptune-orbit {
  width: 1204px;
  height: 1204px;
  bottom: -512px;
  margin-left: -602px;
  animation: spin-left 15s linear infinite;
  -webkit-animation: spin-left 15s linear infinite;
}

#neptune-label {
  bottom: 692px;
}

/* Uranus*/

.uranus {
  width: 66px;
  height: 66px;
  margin: 120px;
  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.uranus-orbit {
  width: 1062px;
  height: 1062px;
  bottom: -441px;
  margin-left: -531px;
  animation: spin-left 18s linear infinite;
  -webkit-animation: spin-left 18s linear infinite;
}

#uranus-label {
  bottom: 620px;
}

/* Saturn*/

.saturn {
  width: 110px;

  margin: 85px;

  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.saturn-orbit {
  width: 876px;
  height: 876px;
  bottom: -348px;
  margin-left: -438px;
  animation: spin-left 20s linear infinite;
  -webkit-animation: spin-left 20s linear infinite;
}

#saturn-label {
  bottom: 527px;
}

/* Jupiter */

.jupiter {
  width: 100px;
  height: 100px;
  margin: 45px;
  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.jupiter-orbit {
  width: 656px;
  height: 656px;
  bottom: -238px;
  margin-left: -328px;
  animation: spin-left 22s linear infinite;
  -webkit-animation: spin-left 22s linear infinite;
}

#jupiter-label {
  bottom: 417px;
}

/* Mars */

.mars {
  width: 38px;
  height: 38px;
  margin: 55px;
  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.mars-orbit {
  width: 508px;
  height: 508px;
  bottom: -164px;
  margin-left: -254px;
  animation: spin-left 15s linear infinite;
  -webkit-animation: spin-left 15s linear infinite;
}

#mars-label {
  bottom: 343px;
}

/* Earth */

.earth {
  width: 50px;
  height: 50px;
  margin: 36px;
  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.earth-orbit {
  width: 410px;
  height: 410px;
  bottom: -115px;
  margin-left: -205px;
  animation: spin-left 17s linear infinite;
  -webkit-animation: spin-left 17s linear infinite;
}

#earth-label {
  bottom: 294px;
}

/* Venus */

.venus {
  width: 50px;
  height: 50px;
  margin: 16px;
  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.venus-orbit {
  width: 300px;
  height: 300px;
  bottom: -60px;
  margin-left: -150px;
  animation: spin-left 19s linear infinite;
  -webkit-animation: spin-left 19s linear infinite;
}

#venus-label {
  bottom: 239px;
}

/* Mercury */

.mercury {
  width: 40px;
  height: 40px;
  margin: 8px;
  animation: spin-right 5s linear infinite;
  -webkit-animation: spin-right 5s linear infinite;
}

.mercury-orbit {
  width: 200px;
  height: 200px;
  bottom: -10px;
  margin-left: -100px;
  animation: spin-left 21s linear infinite;
  -webkit-animation: spin-left 21s linear infinite;
}

#mercury-label {
  bottom: 189px;
}

/* Label Box */

.label-box {
  position: absolute;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-family: sans-serif;
}

.label-box a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #fff;
}

.label-box a:hover {
  transform: scale(1.5);
}

.label-box a:visited {
  color: #fff !important;
}

/* Animation */

@keyframes spin-left {
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
